
body{
    text-align: center;
}

.alert-info {
    width: inherit;
    text-align: center;
    text-decoration: none;
    background-color: turquoise;
    border: 2px solid gray;

}
li {
    list-style: none;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #9c9c9c;
    padding: 10px;

}
.header-img {
    width: 100%;
}





/* Small devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    /*body{*/
        /*text-align: center;*/
    /*}*/

    /*.alert-info {*/
        /*width: inherit;*/
        /*text-align: center;*/
        /*text-decoration: none;*/
        /*background-color: turquoise;*/
        /*border: 2px solid gray;*/

    /*}*/
    /*li {*/
        /*list-style: none;*/
        /*margin-bottom: 10px;*/
        /*margin-right: 10px;*/
        /*background-color: #9c9c9c;*/
        /*padding: 10px;*/

    /*}*/
    /*.header-img {*/
        /*width: 100%;*/
    /*}*/

}


/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:992px) { /* ... */ }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) { /* ... */ }