

nav.navbar{
    padding-top:0;
    padding-bottom:0;
}
nav li{
    padding:8px;
}
li.nav-item.active{
    background-color:#e7e7e7;
    opacity: .8;
}
li.nav-item:hover{
    background-color:#e7e7e7;
    opacity: .8;
}
li.nav-item.active a{
    color:#777 !important;
}

.jumbotron{
    background-image: url(order-pizza-img.png);
    background-size: cover;
}
.jumbotron-fluid h1{
    width: 100%;
    margin-top: 4%;
    text-align: center;
    background-color: lightgrey;
    opacity: .7;
}
#my-container{
    width: 100%;
    max-width: 1600px;
    margin: 0;
    padding: 0;
}


.container2{
    width: 90%;
    margin-left: 5%;
}


.card-body{
    margin: 0;
    padding: 0;
    width:100%;
    border: 1px solid lightblue;
    border-radius: 5px;
    height: 587px;

}
#card-body-head1{
    background-color: #b4d0ef;
    color: black;
    padding: 15px;
    margin: 0;
}

.card1{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 10px 10px;
    height: 200px;
}
.card2{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 10px 10px;
    height: 200px;
}
.cardfooter{
    border: 1px solid lightblue;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: lightgrey;
    text-align: right;
}
.container3{
    width: 90%;
    margin-left: 5%;
}
.container3>.card-body{
    margin: 0;
    padding: 0;
    width:100%;
    border: 1px solid lightblue;
    border-radius: 5px;
    height: 602px;
}
#card-body-head2{
    background-color: #b4d0ef;
    color: black;
    padding: 15px;
    margin: 0;
}
.card3{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 10px 10px;
    height: 155px;
}
.c3c31{
    border-bottom: none;
    background-color: #b4d0ef;
}
.c3c32{
    border-bottom: none;
    background-color: #b4d0ef;
    padding-bottom: 1rem;
}
/*.card22{*/
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    /*border: 1px solid lightgrey;*/
    /*border-radius: 10px 10px 10px 10px;*/
    /*height: 155px;*/
/*}*/
.card4{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 10px 10px;
    height: 260px;
}
.c3c41{
    border-bottom: none;
    background-color: #b4d0ef;
}
.c3c42{
    border-top: none;
    border-bottom: 1px solid lightgrey;
    background-color: #b4d0ef;
    padding-bottom: 1rem;
}
.c3c43{
    border-top: none;
    border-bottom: none;
    background-color: #b4d0ef;
}
.c3c44{
    border: none;
    background-color: #b4d0ef;
    padding-bottom: 1rem;
    border-radius: 0 0 10px 10px;
}
/*.card22{*/
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    /*border: 1px solid lightgrey;*/
    /*border-radius: 10px 10px 10px 10px;*/
    /*height: 155px;*/
/*}*/

.container4{
    width: 90%;
    margin-left: 5%;
}
.container4>.card-body{
    margin: 0;
    padding: 0;
    width:100%;
    border: 1px solid lightblue;
    border-radius: 5px;
    height: 688px;
}
#card-body-head3{
    background-color: #b4d0ef;
    color: black;
    padding: 15px;
    margin: 0;
}
.card5{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 10px 10px;
    height: 250px;
}
.card6{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 10px 10px;
    height: 250px;
}




